body {
	padding: 0;
	margin: 0;
	background-color: black;
}

@font-face
{
	font-family: titleFont;
	src: url(Bauhaus_.ttf);
}

header .title_centered
{
	padding-bottom: 25px;
}

#playerCount
{
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	top: 90%;
	left: 90%;
	color: white;
}

.titulo
{
	font-family: titleFont;
	font-size: 48px;
}

.blueT
{
	color: blue;
}

.redT
{
	color: red;
}

#canvasContainer
{
	position: absolute;
	display: inline-flex;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*width: 100%;*/
}

.explanation
{
	float: left;
	/*max-width: 20%;*/
	margin-right: 30px;
	max-width: 150px;
	color: white;
}

#scoreList
{
	position: absolute;
	top: 80%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

#scoreList li
{
	font-family: 'Ubuntu', sans-serif;
	display: inline;
	float: left;
	list-style-type: none;
	padding-right: 40px;
	color: white;
}
/*
.scoreboard
{
	margin-top: 50px;
	font-family: 'Ubuntu', sans-serif;
	float: right;
	font-size: 24px;
	max-width: 200px;
	color: white;
	margin-left: 30px;
}

#kills
{
	margin-bottom: 10px;
}

#playerCount
{
	margin-bottom: 10px;
}

#canvas
{

}
*/