body {
	padding: 0;
	margin: 0;
	background-color: black;
}

@font-face
{
	font-family: titleFont;
	src: url(Bauhaus_.ttf);
}

header .title_centered
{
	padding-bottom: 25px;
}

#playerCount
{
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	top: 90%;
	left: 90%;
	color: white;
}

.titulo
{
	/*font-family: titleFont;*/
	/*font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
	margin-top: 2%;
	margin-left: 1%;
	font-family: 'Orbitron', sans-serif;
	font-size: 48px;
}

.blueT
{
	color: blue;
}

.redT
{
	color: red;
}

#canvasContainer
{
	position: absolute;
	display: inline-flex;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*width: 100%;*/
}

.explanation
{
	float: left;
	/*max-width: 20%;*/
	margin-right: 30px;
	max-width: 150px;
	color: white;
}

.scoreboard
{
	font-size: 24px;
}

#scoreList
{
	position: absolute;
	top: 80%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-45%, -50%);
}

#scoreList li
{
	font-family: 'Orbitron', sans-serif;
	display: inline;
	float: left;
	list-style-type: none;
	padding-right: 40px;
	color: white;
}

#instructions
{
	position: absolute;
	text-align: center;
	max-width: 100%;

	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: white;
	font-family: 'Orbitron', sans-serif;
}

#instructions h2
{
	clear: both;
	font-size: 24px;
}

#instructions div
{
	display: table;
	margin: 0 auto;
}

#instructions figure
{
	float: left;
	margin-left: 15%;
	max-width: 25%;
}

#instructions figure img
{
	padding-top: 5px;
	max-width: 50%;
}

#gameContainer
{
	display: none;
}