body {
	padding: 0;
	margin: 0;
	background-color: black;
}

@font-face
{
	font-family: titleFont;
	src: url(Bauhaus_.ttf);
}

header .title_centered
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 25px;
}

.titulo
{
	text-align: center;
	font-family: titleFont;
	font-size: 72px;
}

.blueT
{
	color: blue;
}

.redT
{
	color: red;
}

#canvasContainer
{
	position: absolute;
	display: inline-flex;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 70%;
}

.explanation
{
	float: left;
	/*max-width: 20%;*/
	margin-right: 30px;
	max-width: 150px;
	color: white;
}

.scoreboard
{
	margin-top: 50px;
	font-family: 'Ubuntu', sans-serif;
	float: right;
	font-size: 24px;
	max-width: 200px;
	color: white;
	margin-left: 30px;
}

#kills
{
	margin-bottom: 10px;
}

#playerCount
{
	margin-bottom: 10px;
}

#canvas
{

}
